{{- if .Values.agentCollector.enabled -}}
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: agent
  namespace: {{ .Values.agentCollector.namespace }}
  labels:
    {{- include "ollyscale.labels" . | nindent 4 }}
    app.kubernetes.io/component: otel-agent
  {{- with .Values.commonAnnotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  mode: daemonset
  serviceAccount: agent
  env:
    - name: KUBE_NODE_NAME
      valueFrom:
        fieldRef:
          apiVersion: v1
          fieldPath: spec.nodeName
  volumes:
    - name: varlogpods
      hostPath:
        path: /var/log/pods
    - name: varlibdockercontainers
      hostPath:
        path: /var/lib/docker/containers
    - name: varlogcontainers
      hostPath:
        path: /var/log/containers
    - name: otel-logs-storage
      emptyDir: {}
  volumeMounts:
    - name: varlogpods
      mountPath: /var/log/pods
      readOnly: true
    - name: varlibdockercontainers
      mountPath: /var/lib/docker/containers
      readOnly: true
    - name: varlogcontainers
      mountPath: /var/log/containers
      readOnly: true
    - name: otel-logs-storage
      mountPath: /otel-logs-storage
  config:
    {{- toYaml .Values.agentCollector.config | nindent 4 }}
{{- end }}
